# TODO artık ihtiyaç olmasa da know how olarak tutuyorum tekrar lazım olabilir.
#Lombok by default do not copy @Lazy annotations. So our services start to became cyclicly dependent.
#To break cycles between components we need @Lazy annotation. After i used @Lazy annotation with RequiredArgs
#Now Lombok will copy the annotation to the generated component.
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
